<div class="container">
  <button data-all type="button" class="btn btn-secondary">Все листки адаптации</button>
  <button data-my type="button" class="btn btn-secondary">Мои листки адаптации</button>
  <button data-user type="button" class="btn btn-secondary">Пользователи</button>
  <button data-exit href="/logout" type="button" class="btn btn-secondary">Выход</button>
  <div class="infoContainer"></div>
</div>
